body{
    margin: 0; /* header can spread the full page length, without a gap */
    background-color: #F5EFE9;
    
    background-image: repeating-linear-gradient( /* vertical lines */
    to right,
    #EAE3DC 0px,
    #EAE3DC 80px,
    transparent 28px,
    transparent 118px
    );
}

/* header box and background format*/
.header{
    /* width: 100%; */
    height: 5rem;
    padding: 0% 5%;
    background: #3E3E3E;
    display: flex;
    align-items: center;
}

/* "magnet archive" title formatting */
h1{
    vertical-align: middle;
    color: #F5EFE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

/* navigation section of header */
nav{
    width: 100%;
    /* padding: 3px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* list */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

/* list text format */
nav ul li a{
    text-decoration: none;
    color: #F5EFE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
}

/* header responds to screen width, text size reduces */
@media (max-width: 1000px){
    h1{
        font-size: 0.85rem;
    }
    nav ul li a{
        font-size: 0.60rem;
    }
}

/*  */
.year-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* year text */
.year{
    background-color: #3E3E3E;
    padding: 1.2rem;
    height: 8rem;
    width: 20rem;
    border: 0rem;
    margin: 0.5rem;

    text-align: center;
    color: #F5EFE9;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    letter-spacing: -0.2rem;
}

/* box around countries */
.countries-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* countries text */
.countries{
    /* background-color: aquamarine; */
    padding: 0rem;
    height: 3rem;
    width: 20rem;
    border: 0rem;
    margin: 0.5rem;

    color: #3E3E3E;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.destination-container{
    display: grid;
    grid-gap: 10px;
    grid-template: 
    "destination place"
    /40% 60%;
}

/* line formatting, above and below destination */
hr{
    border:none;
    height: 1.5px;
    background-color: #3E3E3E;
}

.destination {
    /* background-color: aqua; */
    grid-area: destination;

    text-align: center;

    padding: 0rem;
    border: 0rem;
    margin: 1rem;

    color: #3E3E3E;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.place{
    /* background-color: aqua; */
    grid-area: place;

    padding: 0rem;
    border: 0rem;
    margin: 0.5rem;
    width: 95%;

    color: #F5EFE9;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-indent: 1rem;
}

/* width changes based on screen size */
@media (max-width: 1000px){
    .place{
        width: 90%;
    }
}

/* background formatting for each country */
.america-place{
    background-color: #4C6473;
    padding: 0.5rem;
}

.ireland-place{
    background-color: #D55D00;
    padding: 0.5rem;
}

.northern-ireland-place{
    background-color: #B15E43;
    padding: 0.5rem;
}

.canada-place{
    background-color: #892426;
    padding: 0.5rem;
}

/* section with image, icon, title and description */
.magnet-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40% 50%; /* leaves 10% gap on right side, better text formatting */
    padding: 1rem;
    orphans: 3;
}
.image {
    grid-column: 1;
    margin: 0.5rem;
    filter: drop-shadow(0 0 0.75rem #92887d); /* added a slight shadow under the images, looked too "fake" before */
    text-align: center; /* centered in the image grid section */
}

.info{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center;
    gap: 1rem; */
}

.info .title-row{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info .title-row .icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4rem;
    margin: 0.5rem;
    filter: drop-shadow(0 0 2rem #dfd5ca);
    /* align-content: center; */
}

.info .title-row .magnet-title {
    /* grid-area: title; */

    color: #3E3E3E;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.75rem;
    text-indent: 1rem;
    line-height: 4rem;
}

.info main {
    /* grid-area:main; */

    padding: 1rem;
    border: 0rem;
    margin-top: 0.5rem;

    color: #3E3E3E;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.10rem;
}

/* layout changes based on screen width, images move above info section */
@media (max-width: 1000px) {
    .magnet-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
    }

    .title-row{
        align-items: center;
        justify-content: center;
    }
}

/* footer section to end page, no text within it yet */
.footer{
    height: 10rem;
    /* padding: 0% 5%; */
    background: #3E3E3E;
    /* display: flex;
    align-items: center; */
}

/* -------------------------------------------------------------------------- */
/* PROCESS */
/* OLD CODE */


/* IMAGE -  I wanted image scale to change based on screen size, 
later decided to have content stack instead of changing only image scale */

/* .image {
    margin: 0.5rem;
    filter: drop-shadow(0 0 0.75rem #92887d);
    text-align: center;
} */

/* .image img{
    width: auto;
}

@media(max-width:600px){
    .image img{
        width: 70%;
        height: auto;
    }
} */


/* OLD GRID-TEMPLATE LAYOUT */
/* before I implemented info, title-row */

/* @media (max-width: 1000px){
    .magnet-container{
        grid-template: 
        "icon title"
        "image image"
        "main main"
        /40% 60%;
    }
    .image{
        text-align: center;
    }
    .icon{
        text-align: right;
    }
    .magnet-title{
        text-align: left;
    }
} */