body{
    margin: 0; /* header can spread the full page length, without a gap */
    background-color: #F5EFE9;
    
    background-image: repeating-linear-gradient( /* vertical lines */
    to right,
    #EAE3DC 0px,
    #EAE3DC 80px,
    transparent 28px,
    transparent 118px
    );
}

/* header box and background format*/
.header{
    /* width: 100%; */
    height: 5rem;
    padding: 0% 5%;
    background: #3E3E3E;
    display: flex;
    align-items: center;
}

/* "magnet archive" title formatting */
h1{
    vertical-align: middle;
    color: #F5EFE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

/* navigation section of header */
nav{
    width: 100%;
    /* padding: 3px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* list */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

/* list text format */
nav ul li a{
    text-decoration: none;
    color: #F5EFE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background:#3E3E3E;
    padding: 10px 0;
    margin: 0;
    min-width: 40px;
}

.dropdown-menu li {
    display: block;
    margin: 5px 15px;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    display: block;
}

/* header responds to screen width, text size reduces */
@media (max-width: 1000px){
    .header{
    height: 7rem;
    padding: 0% 5%;
    background: #3E3E3E;
    display: flex;
    align-items: center;
    }   
    h1{
        font-size: 1rem;
    }
    nav ul li{
        margin: 5px 15px;
    }
    nav ul li a{
        font-size: 0.75rem;
    }
}

@media (max-width: 600px){
    .header{
    height: 7rem;
    padding: 0% 5%;
    background: #3E3E3E;
    display: flex;
    align-items: center;
    }   
    h1{
        font-size: 0rem;
    }
    nav ul li{
        margin: 0px 15px;
    }
    nav ul li a{
        font-size: 0.75rem;
    }
}

/*  */
.year-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* year text */
.year{
    background-color: #3E3E3E;
    padding: 1.2rem;
    height: 8rem;
    width: 45rem;
    border: 0rem;
    margin: 0.5rem;

    text-align: center;
    color: #F5EFE9;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    letter-spacing: rem;
}

/* box around countries */
.countries-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* countries text */
.countries{
    /* background-color: aquamarine; */
    padding: 0rem;
    height: 6rem;
    width: 50rem;
    border: 0rem;
    margin: 0.5rem;

    color: #3E3E3E;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

/* width changes based on screen size */
@media (max-width: 1000px){
    .year{
        height: 7rem;
        width: 40rem;
        font-size: 6rem;
    }
    .countries{
        font-size: 1.25rem;
    }
}

@media (max-width: 600px){
    .year{
        /* width: 80%;
        height: 80%; */
        height: 4.5rem;
        width: 25rem;
        font-size: 375%;

    }
    .countries{
        font-size: 1.25rem;
    }
}

.destination-container{
    display: grid;
    grid-gap: 10px;
    grid-template: 
    "destination place"
    /40% 60%;
}

/* line formatting, above and below destination */
hr{
    border:none;
    height: 1.5px;
    background-color: #3E3E3E;
}

.destination {
    /* background-color: aqua; */
    grid-area: destination;

    text-align: center;

    padding: 0rem;
    border: 0rem;
    margin: 1rem;

    color: #3E3E3E;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.place{
    /* background-color: aqua; */
    grid-area: place;

    padding: 0rem;
    border: 0rem;
    margin: 0.5rem;
    width: 95%;

    color: #F5EFE9;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-indent: 1rem;
}

/* width changes based on screen size */
@media (max-width: 1000px){
    .destination{
        font-size: 1.25rem;
    }
    .place{
        width: 90%;
        font-size: 1.25rem;
    }
}

/* background formatting for each country */
.america-place{
    background-color: #4C6473;
    padding: 0.5rem;
}

.aruba-place{
    background-color: #973964;
    padding: 0.5rem;
}

.australia-place{
    background-color: #005F67;
    padding: 0.5rem;
}

.canada-place{
    background-color: #892426;
    padding: 0.5rem;
}

.denmark-place{
    background-color: #E9BA3A;
    padding: 0.5rem;
}

.dominican-place{
    background-color: #7EA4A7;
    padding: 0.5rem;  
}

.estonia-place{
    background-color: #8687A3;
    padding: 0.5rem;    
}

.finland-place{
    background-color: #5D6360;
    padding: 0.5rem;    
}

.france-place{
    background-color: #231E42;
    padding: 0.5rem;
}

.germany-place{
    background-color: #412B17;
    padding: 0.5rem;    
}

.iceland-place{
    background-color: #C98B88;
    padding: 0.5rem;   
}

.ireland-place{
    background-color: #D55D00;
    padding: 0.5rem;
}

.italy-place{
    background-color: #ACC221;
    padding: 0.5rem; 
}

.japan-place{
    background-color: #AE6C8D;
    padding: 0.5rem;
}

.monaco-place{
    background-color: #443C77;
    padding: 0.5rem; 
}

.northern-ireland-place{
    background-color: #B15E43;
    padding: 0.5rem;
}

.serbia-place{
    background-color: #90785E;
    padding: 0.5rem;
}

.spain-place{
    background-color: #525120;
    padding: 0.5rem;    
}

.sweden-place{
    background-color: #686A8F;
    padding: 0.5rem;    
}

.uk-place{
    background-color: #973439;
    padding: 0.5rem;
}

.unknown-place{
    background-color: #3E3E3E;
    padding: 0.5rem;
}


/* section with image, icon, title and description */
.magnet-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40% 50%; /* leaves 10% gap on right side, better text formatting */
    padding: 1rem;
    orphans: 3;
}
.image {
    grid-column: 1;
    margin: 0.5rem;
    filter: drop-shadow(0 0 0.75rem #92887d); /* added a slight shadow under the images, looked too "fake" before */
    text-align: center; /* centered in the image grid section */
}

.info{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center;
    gap: 1rem; */
}

.info .title-row{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info .title-row .icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4rem;
    margin: 0.5rem;
    filter: drop-shadow(0 0 2rem #dfd5ca);
    /* align-content: center; */
}

.info .title-row .magnet-title {
    /* grid-area: title; */

    color: #3E3E3E;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.75rem;
    text-indent: 1rem;
    line-height: 4rem;
}

.info main {
    /* grid-area:main; */

    padding: 1rem;
    border: 0rem;
    margin-top: 0.5rem;

    color: #3E3E3E;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.10rem;
}

/* layout changes based on screen width, images move above info section */
@media (max-width: 1000px) {
    .magnet-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
    }
    .title-row{
        align-items: center;
        justify-content: center;
    }
    .image{
        scale: 80%;
    }
    .info .title-row .icon{
        scale: 80%;
    }
}

/* footer section to end page, no text within it yet */
.footer{
    height: 10rem;
    /* padding: 0% 5%; */
    background: #3E3E3E;
    /* display: flex;
    align-items: center; */
}

.footer{
    height: 10rem;
    width: 100%;
    /* padding: 0% 5%; */
    background: #3E3E3E;
    /* display: flex;
    align-items: center; */
}
